.bolls {
display: flex;
align-items: center;
justify-content: space-between;
}

.boll {
    background: blanchedalmond;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid transparent;
    
}

.boll.active {
    background: rgb(21, 107, 122);
}

.boll-one {
    background: rgb(112, 112, 171);
}

.boll-two {
    background: rgb(202, 112, 196);
}

.boll-three {
    background: rgb(202, 112, 115);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    .button {
        display: block;
        background: white;
        width: 25px;
        height: 25px;
        border: 1px solid black;
    }

    a {
        text-decoration: none;
    }
    
.btn {
    align-items: center;
    color: blueviolet;
}

    .button.active {
        border-color:rgb(21, 107, 122);
    }
    

