.order-section {
    background: url("../../img/bg/cta.png") center center / cover no-repeat fixed; 
    position: relative;
   

&:before {
content: url("../../img/bg/лист-3\ 1.png");
position: absolute;
right: rem(50px);
bottom: rem(70px);
}

&::after {
    content: url("../../img/bg/ягода\ 1.png");
    position: absolute;
    left: rem(50px);
    bottom: rem(60px);
    }

@include tablets {
    background: url("../../img/bg/ctatablet.png") center center no-repeat;
}

}
