.product-section {
    background: #F8FAF9 url(../../img/bg/Узор\ на\ фоне\ 1.png) no-repeat right bottom rem(-214px);
    position: relative;

    &::before {
        content: url(../../img/bg/Слой\ 1\ 1.png);
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}

.product__container {
display: flex;

@include tablets {
    flex-direction: column;
}
}

.product__col-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product__ingredients {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: rem(90px);
    height: rem(90px);   
    border-radius: rem(4px);
    background: #86C3D7;
    text-transform: uppercase;
    color: #fff;

    @include tablets {
        display: none;
    }
}


.product__title {
    font-size: rem(36px);
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.product__desc-price {
    font-size: rem(60px);
}

.product__col-right {
    display: flex;
    justify-content: center;

}

.product__desc-cell {
    display:flex;
    align-items: baseline;

    @include tablets {
    width: 100%;
    display: flex;
    justify-content: center;

}
}

.product__desc-item {
    margin-right: 10%;

    &:last-child {
        margin-right: 0;
    }
}

.product__ingredients:hover > .product__ingredients-dropdown {
    opacity: 1;
}

.product__ingredients-dropdown {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 100%;
    width: rem(273px);
    color: black;
    border-radius: rem(4px);

    background: rgba(255, 255, 255, 0.8);
    box-shadow: rem(4px) rem(4px) rem(40px) rgb(0 0 0 / 6%);
    backdrop-filter: blur(40px);
}


.product__inform {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: rem(400px);

    @include tablets {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        
    }
}


.product-slider__arrows{

}

.products-slider {
    position: relative;
    
    .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }
}

.product-slider__arrow {
    background: url(../../img/decor/arrow.svg) center center no-repeat;
    background-size: contain;
    display: block;
    width: rem(13px);
    height: rem(28px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    &--direction--next {
        right: 0;
    }

    &--direction--prev {
        left: 0;
        transform: rotate(-180deg);
    }

}