.reviews-section {
    background:url(../../img/bg/Ягода-3\ 1.png) no-repeat right top;
    position: relative;
    
    &:before {
content: url(../../img/bg/Узор\ 2.png);
position: absolute;
bottom: rem(-200px);
z-index: 1;
    }

    &::after {
        content: url(../../img/bg/Ягоды\ 2.png);
position: absolute;
bottom: rem(-100px);
z-index: 1;
    }
}


.reviews__display {
    background:#F8FAF9 url(../../img/bg/малина\ 2.png) no-repeat right top;
    padding: rem(40px) rem(35px);
    margin-bottom: rem(20px);
    position: relative;
    overflow: hidden;

    &::before{
        content: "";
        display: block;
        width: rem(90px);
        height: rem(90px);
        background: white;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-65px);


    }

}

.reviews__display-inner {
    display: flex;

    
    @include tablets {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
}
}

.reviews__avatar {
   width: rem(253px);
   height: rem(264px); 
}

.reviews__avatar-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(20px);
}

.reviews__title {
    font-size: rem(30px);
    font-weight: bold;
    margin-bottom: rem(22px);

}

.reviews__text {
    width: 90% ;
    margin-bottom: rem(36px);
}

.reviews__author {
    font-size: rem(18px);
    font-weight: bold;
    color: black;
}

.reviews-switcher__item {
    width: rem(80px);
    height: rem(80px);
    border: rem(6px) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &.active {
        border-color: #365A49;
    }
}


/*.interactive-avatar {
}interactive-avatar interactive-avatar--active*/

.interactive-avatar__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

.interactive-avatar__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
}

.reviews__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s;
    opacity:0;

    &.active {
        position: static;
        opacity: 1;
        pointer-events: unset;
    }

}

.reviews__list {
    position: relative;
    min-height: 300px;
}