.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 14px;
}
.social__item :last-child {
  margin-right: 0;
}